.pad{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

}
.bg-personal-nav{
    background-color: #f1d39b !important;
}

.bg-personal{
    background-color: #a3c4c2 !important;
}

.navbar-dark{
    color: #b7667f !important;
}

.bg-person-1{
    background-color: #ecdbba !important;
}

.img-fixed{
    width: auto;
    height: 150px;
}